.signin_body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #023020;
}

.sign-in {
    display: flex;
    background-color: white;
    flex-direction: column;
    width: 500px;
    border-radius: 10px;
    align-items: center;
    padding: 10px 0;
    transform: scale(0.85);
    z-index: 2;
}

 .sign-in form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sign-in h2 {
    margin-bottom: 3rem;
    color: #D18B0A;
}

label {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    font-weight: 600;
}

.sign-in input[type=text],
.sign-in input[type=password],
.sign-in input[type=email]
 {
    width: 300px;
    margin: 20px 0;
    border: 1px solid #226AB4;
    padding: 10px;
    border-radius: 6px;
    outline: none; 
}


.sign-in input[type=text]:focus,
.sign-in input[type=password]:focus,
.sign-in input[type=email]:focus
{
border: none;
background-color: #ecf0f3;
}

.sign-in button {
    width: 250px;
    margin-top: 2rem;
    padding: 12px;
    cursor: pointer;
    border: none;
    border-radius: 6px;
    background:  #25af51;
    color: white;
    font-weight: 600;
}

.sign-in button:hover {
    background: white;
    color: #25af51;
}

.input_error{
    font-size: 13px;
    color: red;
    margin-top: -10px;
    padding: 0 3px;
}

.signup_error {
    margin-top: 1rem;
}

.signup_redirect {
    color:#226AB4  ;
    text-decoration: none;
}



@media(max-width: 1300px){
             
.sign-in {
        width: 700px;
        margin-left: 0;
        margin-right: 0; 
        margin-bottom: 0; 
}

}

@media(max-width: 991px){

.sign-in {
      width: 700px;
      margin-left: -1.5rem;
      margin-right: .5rem; 
      margin-bottom: 0; 
}


}

@media(max-width: 767px){
         
.sign-in {
      margin-left: 1rem;
      margin-right: 1rem; 
      margin-bottom: 0; 
}

}


@media(max-width: 415px){
.sign-in {
      margin-left: 1rem;
      margin-right: 1rem; 
      margin-bottom: 0; 
}
    
.sign-in input[type=text],
.sign-in input[type=password],
.sign-in input[type=email] {
    width: 250px;
}

}

@media(max-width: 376px){

.sign-in {
      margin-left: 1rem;
      margin-right: 1rem; 
      margin-bottom: 0; 
}

.sign-in h1 {
    font-size: 24px;
}
    
.sign-in input[type=text],
.sign-in input[type=password],
.sign-in input[type=email] {
    width: 250px;
}

}

@media(max-width: 321px){
.sign-in {
        margin-left: 1rem;
        margin-right: 1rem; 
        margin-bottom: 0; 
}

.sign-in input[type=text],
.sign-in input[type=password],
.sign-in input[type=email] {
    width: 250px;
}

}


@media(max-width: 281px){
.sign-in {
        margin-left: 1rem;
        margin-right: 1rem; 
        margin-bottom: 0; 
}

.sign-in h1 {
    font-size: 22px;
}
.sign-in button {
    width: 200px;
}


.sign-in input[type=text],
.sign-in input[type=password],
.sign-in input[type=email] {
    width: 200px;
}


}