 
 .weekly, .daily {
    display: flex;
    flex-direction: column;
    overflow-y:auto ;
    top: 0;
    z-index: 1;
 }

 .weekly h3{
     position: -webkit-sticky;
     position: sticky;
    
 }

  #table-title {
     background-color:#ecf0f3;
     color: black;
  }


.task {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 24rem;
    max-height: 3.5rem;
    box-shadow: 2px 4px 6px gray; 
    /* background-color: white; */
    color:white;
    margin: 1rem 2rem;
    padding: 6px 0.1rem;
    text-transform: capitalize;
    font-weight: 600;
    overflow-y: auto;
}    

.daily-task {
background-color: #FF00BF;
}

.weekly-task {
    color: white;
    background-color: #E6A547;
}

.text {
    margin-right: 1rem;
    width: 20rem;
}

.delete-icon {
    width: 1rem;
    /* height: 0.5rem; */
   
}


@media(max-width: 991px){
     .task {
         width: 18.5rem;
     }
}

@media(max-width: 769px) {
     .task {
         width: 25rem;
     }
}

@media(max-width: 600px){
     .task {
         width: 25rem;
     }
}

@media(max-width: 415px){
     .weekly, .daily {
         width: 400px;
}
 .task {
         width: 21rem;
     }
}

@media(max-width: 376px){
     .weekly, .daily {
         width: 330px;
     }

     .task {
         width: 16rem;
     }
}

@media(max-width: 321px){
     .weekly, .daily {
         width: 300px;
     }
}

@media(max-width: 281px){
    .weekly, .daily {
    width: 250px;
}

 .task {
         width: 13rem;
     }
}
