.container {
    width: 100vw;
    height: 3rem;
    display: flex;
    padding-left: 75px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
}

.logo img {
    border-radius: 50%;
}

.accordion {
    display: flex;
    margin: 0 30px;
}

.accordion-item {
    position: relative;
    border-bottom: 1px solid #ccc;
    padding: 0 30px;
}

.accordion-title {
    justify-content: space-between;
    background-color: transparent;
    font-weight: bold;
}

.accordion-title span {
    cursor: pointer;
    font-size: 12px;
    margin-left: 10px;
}

.accordion-content {
    background-color: white;
    border-radius: 10px;
    width: 400px;
    position: absolute;
    margin-top: 20px;
    padding: 10px;
    display: none;
    z-index: 5;
    transition: all 1s ease;

}

.accordion-content .show {
    display: block;
    /* transition: all 1s ease; */
}

.hide {
    display: none;
}
.purpose {
    background-color: #059ea4 ;
    color: white;
}
.features {
    text-align:start;
    background-color: #fb8fa9;
    color: whitesmoke;
}

.header-sign-in {
    justify-self: flex-end;
    margin-left: 21rem;
    z-index: 1;
}


.container .header-sign-in a button {
    cursor:pointer;
    width: 7.5rem;
    height: 2rem;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    color: white;
    border-radius: 5px;
    background-color: #ff5733;
    margin-right: 30px;
    border: none;
}

.container .header-sign-in a button:hover{
    background: white;
    color: #ff5733;
    border: 2px solid #ff5733;
}


@media(max-width: 991px){
     .header-sign-in{
    margin-left: 12rem;
    }
}

@media(max-width: 769px){
    .header-sign-in{
        display: none;
    }
}

@media(max-width: 600px){
      .accordion {
        display: none;
    }
}



@media(max-width: 415px){
    .accordion {
        display: none;
    }

    .container {
        padding-left: 0;
        justify-content: center;
    }
}