.scrumboard {
    position: relative;
    margin-bottom: 70px;
    scroll-behavior: smooth;

}

.boxes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 0;
}

.box {
    width: 450px;
    height: 400px;
    box-shadow: 2px 4px 6px gray;
    margin: 0 30px;
    border-radius: 5px;
}

.box h3 {
    background-color: #ff5733;
    margin-top: 0;
    padding: 7px 0;
    color: white;
}

.var p span {
    text-transform: capitalize;
}

#small-box {
    width: 350px;
    height: 40px;
    box-shadow: 2px 4px 6px gray; 
    margin-left: 35px;
    border-radius: 4px;
    padding-top: 10px;
    font-weight: 600;
}  

.add-task {
    margin-top: 1rem;
    margin-bottom: 7rem;
}

.add {
    background-color: #226AB4 ;
    border: none;
    border-radius: 8px;
    color: white;
    font-weight: 500;
    margin-top: 4rem ;
    width: 13rem;
    padding: 15px 10px;
    z-index: 999;
    font-size: 15px;
}

.add:hover {
    background-color: white;
    border: 2px solid #226ABA;
    color: #226AB4;
}

#info {
    padding: 20px;
    font-weight: 700;
    font-size: 20px;
}

#info span{
    text-transform:capitalize ;
}

.scrumboard nav {
    background-color:#0074EB ;
    color: white;
    display: flex;
    padding: 20px 10px;
    justify-content: space-between;
}


#modal {
    width: 450px;
    height: 200px;
    background-color: white;
    box-shadow: 2px 4px 6px gray;
    z-index: 9999;
    position: absolute;
    margin-left: 31rem;
}

#modal h3 {
    border-top-left-radius: 4px;
}

.show {
    display: block;
}

.hidden {
    display: none;
}

#close {
    border: 2px solid white;
    padding: 0.5rem;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color:#226AB4;
    color: white;
}

.header h2{
    width: 10%;
    border-left: 2px solid white;
    cursor: pointer;
    margin-left: 50px;
    padding-left: 30px;
}

#modal form {
    padding: 1.8rem 0;
}
#modal #task-input {
    width: 15rem;
    border: 2px solid #226AB4;
    padding-left: 6px;
    height: 2rem;
    /* margin:0 2rem ; */
}

#modal #task-input:focus{
    border: none;
    border-radius: 3px;
    background-color: #ecf0f3;
    -moz-border: 0;
}

.confirm {
    margin-top: 0.5rem;
    width: 8rem;
    height: 2rem;
    background-color: #ff5733;
    border: none;
    border-radius: 5px;
    color: white;
}

.confirm:hover {
    color: #ff5733;
    background-color: white;
    border: 2px solid #ff5733;

}

#task {
    padding: 5px;
    font-weight: 500;
    box-shadow: 1px 2px 2px gray;
    color: rgb(16, 16, 90)
}

.sign_out {
 width: auto;
 height: 2rem;
 margin-right: 1rem;
 background-color:  #2c1915;
 color: white;
 border: none;
 border-radius: 5px;
 padding: 5px 10px;
 cursor: pointer;
}

.sign_out:hover {
    background-color: white;
    color: black;
}

.clear_out {
    width: auto;
    height: 2rem;
    border: 1px solid red;
    text-decoration: none;
    /* background-color: red; */
    color: red;
    border-radius: 5px;
    padding: 5px 5px;
    cursor: pointer;
}

.clear_out:hover {
    background-color: red;
    color: white;
}
.clear_out a{ text-decoration: none; }
.clear_out a:visited { text-decoration: none; }
.clear_out a:active { text-decoration: none; }


@media(max-width: 1300px) {
  #modal {
        margin-left: 26rem;
    }

}

@media(max-width: 1025px) {
 #modal {
        margin-left: 18rem;
    }
}

@media(max-width: 991px){
     #modal {
        margin-left: 190px;
    }

}

@media(max-width: 769px) {
    .boxes {
        flex-direction: column;
        align-items: center;
    }

    .box {
        margin-bottom: 30px;
    }

    #modal {
        margin-top: -430px;
        margin-left: 160px;
    }
}

@media(max-width: 600px) {
 #modal {
    width:394px;
    margin-left: 80px;


}
}

@media(max-width: 415px){
     .scrumboard nav {
        width: 100vw;
        padding-left:  10px;
        padding-right: 20px;
    }
    .var p {
        margin-top: -1rem;
        padding-right: 18px;
    }
.var .clear_out {
    margin-right: 3rem;
    margin-top: 2rem;
}

#modal {
    width:392px;
    margin-left:0.5rem;
}

}

@media(max-width: 376px) {
    .scrumboard nav {
        width: 100vw;
        padding-left:  10px;
        padding-right: 20px;
    }
    .var p {
        margin-top: -1rem;
        padding-right: 15px;
    }
.var .clear_out {
    margin-right: 2rem;
    margin-top: 2rem;
}

    #modal {
        width: 300px;
        margin-left: 2.5rem;

    }
}
@media(max-width: 321px){
      .var p {
        margin-top: -1rem;
        padding-right: 15px;
    }

    .var .outlinks {
        width: 10rem;
    }

    .var .clear_out {
        margin-right: -1.6rem;
        margin-left: 0;
    }
    .var .sign_out {
        margin-right: 1rem;
    }

      #modal {
        width: 300px;
        margin-left: 0.5rem;
    }

}


@media(max-width: 281px){
     .var .outlinks {
        width: 8rem;
    }
      
.var .clear_out {
    margin-right: -1rem;
    margin-top: .5rem;
}
 .var .sign_out {
        margin-right: -0.6rem;
    }

 #modal {
        width: 270px;
    }
    
}