.show {
  display: block;
  margin-top: 1rem;
  margin-bottom: 7rem;
}

.hidden {
  display: none;
}

#modal .header {
  display: flex;
  flex-direction: row;
  height: 40px;
  align-items: center;
  justify-content: space-around;
  background-color: #226ab4;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.header h2 {
  width: 10%;
  border-left: 2px solid white;
  cursor: pointer;
  margin-left: 50px;
  padding-left: 30px;
}

#modal {
  width: 450px;
  height: 200px;
  background-color: white;
  box-shadow: 2px 4px 6px gray;
  border-radius: 10px;
  z-index: 1;
  margin-bottom: 0;
}

#modal h3 {
  border-top-left-radius: 4px;
}

#close {
  border: 2px solid white;
  border-radius: 5px;
  background-color: white;
  color: red;
  padding: 5px;
}

#modal form {
  padding: 1rem 0;
}
#modal #task-input {
  width: 15rem;
  border: 2px solid #226ab4;
  border-radius: 5px;
  padding-left: 6px;
  height: 2rem;
  /* margin:0 2rem ; */
}

#modal #task-input:focus {
  border: none;
  border-radius: 3px;
  background-color: #ecf0f3;
  -moz-border: 0;
}

.confirm-btn {
  margin-top: 1rem;
  width: 8rem;
  height: 2rem;
  background-color: #ff5733;
  border: none;
  border-radius: 5px;
  color: white;
}

.confirm-btn:hover {
  color: #ff5733;
  background-color: white;
  border: 2px solid #ff5733;
}

#task {
  padding: 5px;
  font-weight: 500;
  box-shadow: 1px 2px 2px gray;
  color: rgb(16, 16, 90);
}

/* Media Queries */

@media (max-width: 769px) {
  .show {
    display: block;
    margin-top: 1rem;
    margin-bottom: 7rem;
  }
}

@media (max-width: 600px) {
  #modal {
    width: 394px;
  }
}

@media (max-width: 415px) {
  #modal {
    width: 392px;
    margin-left: 2rem;
  }
}

@media (max-width: 376px) {
  #modal {
    width: 300px;
    /* left: 70px; */
  }
}

@media (max-width: 321px) {
  #modal {
    width: 300px;
    margin-left: 0.5rem;
  }
}

@media (max-width: 281px) {
  #modal {
    width: 270px;
  }
}
